@using PierresOrderTracker.Models;
@{
  Layout = "_Layout";
}

<div class="container">

  <h2>Here is all of @Model["vendor"].Name Orders:</h2>
  <p>@Model["vendor"].Description</p>
  <br>
  <a href="/vendors/@Model["vendor"].Id/edit">Edit This Vendor!</a>
  <br>

  @if(@Model["orders"].Count == 0)
  {
    <h3>Oops Pierre, you haven't entered any Orders for this Vendor yet!</h3>
    <h3><a href='/vendors/@Model["vendor"].Id/orders/new'>Would you like to add a new Order?</a></h3>
  }
  else
  {
    @foreach (Order order in @Model["orders"])
    {
      <li><a href='/vendors/@Model["vendor"].Id/order/@order.Id'>@order.Description</a></li>
      <br>
    }
  }
  
  <form action="/vendors/@Model["vendor"].Id/destroy" method ="post">
    <input id="id" name = "id" type = "hidden" value="@Model["vendor"].Id">
    <button class="btn btn-alert" type="submit">Delete This Vendor!</button>
  </form>

  <br>
  <br>

  <p><a href='/vendors'>View All Vendors</a></p>
  <p><a href='/vendors/new'>Add A New Vendor!</a></p>
  <p><a href='/'>Home</a></p>
</div>